<TMPL_IF HTML5><article class="inlinepage"><TMPL_ELSE><div class="inlinepage"></TMPL_IF>
  <!-- inline story -->
  <div class="story">
    <TMPL_IF HTML5><section class="inlineheader"><TMPL_ELSE><div class="inlineheader"></TMPL_IF>
      <!--  stry date -->
      <TMPL_IF DAY>
        <div class="blogDate">
          <span class="dow"><TMPL_VAR DAY></span>
          <span class="day"><TMPL_VAR DATE></span>
          <span class="month"><TMPL_VAR MONTH> <br /></span>
          <span class="year"><TMPL_VAR YEAR></span>
        </div><!-- blogDate -->
      </TMPL_IF>                  <!--DAY-->
        <div class="headers">
          <TMPL_IF PERMALINK>
            <a href="<TMPL_VAR PERMALINK>"><span class="storytitle"><TMPL_VAR TITLE></span></a>
            <br />
            <div class="story-links">
              <TMPL_IF TAGS>
                <div class="taglink">
                   <span class="left">[</span>
                   <ul>
                      <TMPL_LOOP TAGS>
                        <li class="tag"><TMPL_VAR NAME=LINK>&nbsp;::&nbsp;</li>
                      </TMPL_LOOP>
                   </ul>
                   <span class="right">]</span>
                </div> <!-- taglink -->
              </TMPL_IF>          <!--TAGS-->
            </div><!-- story-links -->
          <TMPL_ELSE>
            <a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a>
            <br />
            <TMPL_IF TAGS>
              <div class="taglink">
                <span class="left">[</span>
                <ul>
                  <TMPL_LOOP NAME="TAGS">
                    <li class="tag"><TMPL_VAR NAME=LINK>&nbsp;::&nbsp;</li>
                  </TMPL_LOOP>
                </ul>
                <span class="right">]</span>
              </div> <!-- taglink -->
            </TMPL_IF>            <!--TAGS-->
            <p class="postedon">
              <span class="pagedate">Posted <TMPL_VAR CTIME></span>
            </p>
          </TMPL_IF>              <!--PERMALINK-->
          <TMPL_IF COPYRIGHT>
            <div class="pagecopyright">
              <a name="pagecopyright"></a>
              <TMPL_VAR COPYRIGHT>
            </div>
          </TMPL_IF>
          <TMPL_IF LICENSE>
            <div class="pagelicense">
              <p>License: <TMPL_VAR LICENSE></p>
            </div>
          </TMPL_IF>
        </div>  <!-- headers -->
    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF><!--inlineheader-->
    <TMPL_IF HTML5><section class="inline-body"><TMPL_ELSE><div class="inline-body"></TMPL_IF>
      <div class="story-body">
        <TMPL_VAR CONTENT>
      </div>  <!-- story-body -->
      <TMPL_IF AUTHOR>
        <div class="postedby">
          <TMPL_IF AUTHORURL>
            <p class="postedby">
              <a href="<TMPL_VAR AUTHORURL>">
                <span class="author"><TMPL_VAR AUTHOR></span>
              </a>
            </p>
          <TMPL_ELSE>
            <p class="postedby">
              <span class="author"><TMPL_VAR AUTHOR></span>
            </p>
          </TMPL_IF>            <!--AUTHORURL-->
        </div> <!-- postedby -->
      </TMPL_IF>                <!--AUTHOR-->

      <TMPL_IF HAVE_ACTIONS>
        <span class="actions">
          <ul>
            <TMPL_IF EDITURL>
              <li><a href="<TMPL_VAR EDITURL>"><img src="/media/icons/editor.png" alt="Edit this page" /></a></li>
            </TMPL_IF>
            <TMPL_IF COMMENTSLINK>
              <li><TMPL_VAR COMMENTSLINK></li>
            <TMPL_ELSE>
              <TMPL_IF DISCUSSIONLINK>
                <li><TMPL_VAR DISCUSSIONLINK></li>
              </TMPL_IF>
            </TMPL_IF>
          </ul>
        </span><!--.actions-->
      </TMPL_IF>
    <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF> <!--inline-body-->
  </div><!-- story -->
<TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF> <!-- inlinepage -->

<!-- Keep this comment at the end of the file
Local variables:
mode: xml
End:
-->
