<TMPL_IF HTML5><!DOCTYPE html>
  <html>
    <TMPL_ELSE><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
</TMPL_IF>
    <head>
    <TMPL_IF HTML5>  <meta charset="utf-8" /><TMPL_ELSE>  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
      <meta name="Author" content="Manoj Srivastava"/>
      <link href="mailto:srivasta@golden-gryphon.com" rev="made"/>
      <title><TMPL_VAR TITLE></title>
      <link rel="stylesheet" href="<TMPL_VAR BASEURL>style.css" type="text/css" />
    <TMPL_IF LOCAL_CSS>
      <link rel="stylesheet" href="<TMPL_VAR BASEURL><TMPL_VAR LOCAL_CSS>" type="text/css" />
    <TMPL_ELSE>
      <link rel="stylesheet" href="<TMPL_VAR BASEURL>local.css" type="text/css" />
    </TMPL_IF>
    <TMPL_IF FAVICON>
      <link rel="icon" href="<TMPL_VAR BASEURL><TMPL_VAR FAVICON>" type="image/x-icon" />
    </TMPL_IF>
    <TMPL_IF DYNAMIC>
      <TMPL_IF FORCEBASEURL>
           <base href="<TMPL_VAR FORCEBASEURL>" />
      <TMPL_ELSE>
        <TMPL_IF BASEURL><base href="<TMPL_VAR BASEURL>" /></TMPL_IF>
      </TMPL_IF>
    </TMPL_IF>
    <TMPL_UNLESS DYNAMIC>
      <TMPL_IF EDITURL>
      <link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" />
      </TMPL_IF>
      <TMPL_IF FEEDLINKS><TMPL_VAR FEEDLINKS></TMPL_IF>
      <TMPL_IF RELVCS><TMPL_VAR RELVCS></TMPL_IF>
      <TMPL_IF META><TMPL_VAR META></TMPL_IF>
      <TMPL_LOOP TRAILLOOP>
        <TMPL_IF PREVPAGE>
      <link rel="prev" href="<TMPL_VAR PREVURL>" title="<TMPL_VAR PREVTITLE>" />
        </TMPL_IF>
      <link rel="up" href="<TMPL_VAR TRAILURL>" title="<TMPL_VAR TRAILTITLE>" />
        <TMPL_IF NEXTPAGE>
          <link rel="next" href="<TMPL_VAR NEXTURL>" title="<TMPL_VAR NEXTTITLE>" />
        </TMPL_IF>
      </TMPL_LOOP>
    </TMPL_UNLESS>
    </head>
    <body>
      <TMPL_IF HTML5><article class="pagebody"><TMPL_ELSE><div class="pagebody"></TMPL_IF>

        <!-- ====================page-top start============================== -->
        <TMPL_IF HTML5><section class="page-top"><TMPL_ELSE><div class="page-top"></TMPL_IF>
          <TMPL_IF HTML5><header class="topheader"><TMPL_ELSE><div class="topheader"></TMPL_IF>
            <div class="titleinfo">
              <div class="title">
                <!-- The masthead is at the top of the page. -->
                <div id="masthead">
                  <h1><TMPL_VAR WIKINAME></h1>
                  <!-- This is he title -->
                  <h4><TMPL_IF NAME="TOPLVL"><TMPL_VAR MOTTO><TMPL_ELSE><TMPL_VAR TITLE></TMPL_IF></h4>
                </div> <!-- masthead -->
              </div>            <!--title-->
            </div> <!-- titleinfo -->
          <TMPL_IF HTML5></header><TMPL_ELSE></div></TMPL_IF> <!-- topheader -->

          <!-- menu bar at the top. Has three parts -->
          <div id="menubar">
            <!-- The leftmost bits of the menu bar  -->
            <div id="menubar-left">
                <div class="breadcrumbs">
                  <TMPL_LOOP INDEXLINK>
                    <TMPL_VAR INDEXLINK>
                  </TMPL_LOOP>
                </div> <!-- breadcrumbs  -->
            </div> <!-- menubar-left -->
            <!-- empty, closing bits of the menu bar -->
          </div>   <!-- menubar -->

        <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF> <!--page-top-->

        <!-- ====================page-main start============================== -->
        <TMPL_IF HTML5><section class="page-main"><TMPL_ELSE><div class="page-main"></TMPL_IF>

          <div id="main-body">
            <div id="main-panel">
              <div id="content">
                 <div id="meat">
                   <TMPL_VAR CONTENT>
                 </div>
              </div> <!--content-->
            </div>          <!--main=panel-->
          </div> <!-- main-body -->
        <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF> <!--page-main-->

        <!-- ====================page-bot start============================== -->
        <TMPL_IF HTML5><section class="page-bot"><TMPL_ELSE><div class="page-bot"></TMPL_IF>
          <hr />
          <TMPL_IF HTML5><footer class="footinfo"><TMPL_ELSE><div class="footinfo"></TMPL_IF>
            <address>
              Webmaster <a href="mailto:&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#103;&#111;&#108;&#100;&#101;&#110;&#45;&#103;&#114;&#121;&#112;&#104;&#111;&#110;&#46;&#99;&#111;&#109;">&lt;&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#103;&#111;&#108;&#100;&#101;&#110;&#45;&#103;&#114;&#121;&#112;&#104;&#111;&#110;&#46;&#99;&#111;&#109;&gt;</a>
            </address>
            <div class="commitinfo">
              <!-- from <TMPL_VAR NAME=WIKINAME> -->
              Last commit: <TMPL_VAR NAME=MTIME>
            </div>

            <div class="updated">
              <script type="text/javascript">
                <!--
                  document.write("<p>File Last Updated:");
                  document.writeln(document.lastModified);
                  document.writeln("<" + "/p>");
                  // -->
              </script>
            </div><!-- updated -->
            <div class="pagedate">
              Last edited <TMPL_VAR MTIME>
              <!-- Created <TMPL_VAR CTIME> -->
            </div>
            <TMPL_IF EXTRAFOOTER><TMPL_VAR EXTRAFOOTER></TMPL_IF>
          <TMPL_IF HTML5></footer><TMPL_ELSE></div></TMPL_IF>  <!--"footinfo-->

        <TMPL_IF HTML5></section><TMPL_ELSE></div></TMPL_IF> <!--page-bot-->

      <TMPL_IF HTML5></article><TMPL_ELSE></div></TMPL_IF> <!--pagebody-->
    </body>
</html>

<!-- Keep this comment at the end of the file
Local variables:
mode: nxml
End:
-->
